.main{
    display: flex;
    justify-content: space-around;
    color:white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    text-align: center;
}

html{
    background-image:url("images/fon.jpg")
}
.title{
    color:white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    text-align: center;
}
footer{
    color:white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    background-color: black;
    height: auto;
}

.body{
    font-size: 40px;
    margin: 0;
    background-color: #BEA628;
}
.container{
    display: none;
    flex-direction: row;
    width: 1000px;
    height: 1024px;
    margin: 0 auto;
    justify-content: space-around;
    background-color: #BEA628;
    
}
.h1{
    display: flex;
    text-align: center;
    justify-content: space-around;
}
 
